  
body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(42, 47, 68);
    color: rgb(205, 255, 205);
}